## 05. Time Series

In [1]:
import pandas as pd

# Q64. 데이터를 로드하고 각 열의 데이터 타입을 파악하라 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [4]:
# Q65. Yr_Mo_Dy 을 판다스에서 인식할 수 있는 datetime64 타입으로 변경하라 
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df['Yr_Mo_Dy']

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [8]:
# Q66. Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라 
# df['Yr_Mo_Dy'].dt.year.unique 와의 차이점 ? .. 
df['Yr_Mo_Dy'].dt.year.unique()

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978], dtype=int64)

In [9]:
# Q67. Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터다. 
# 해당 경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라 
import datetime

def fix_century(x): 
    year = x.year - 100 if x.year >=2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)
df.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [13]:
# Q68. 년도별 각 컬럼의 평균값을 구하여라 
# df.groupby(df['Yr_Mo_Dy'].dt.year).mean()
df.groupby(df.Yr_Mo_Dy.dt.year).mean()

C:\Temp\ipykernel_111204\327246840.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df.Yr_Mo_Dy.dt.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [16]:
# Q69. weekday 컬럼을 만들고 요일별로 매핑하라 (월요일: 0 ~ 일요일: 6)
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
df['weekday'].to_frame().head()

   weekday
0        6
1        0
2        1
3        2
4        3

In [17]:
# Q70. weekday 컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라
df['WeekCheck'] = df['weekday'].map(lambda x: 1 if x in[5, 6] else 0)
df['WeekCheck'].to_frame().head()

   WeekCheck
0          1
1          0
2          0
3          0
4          0

In [19]:
# Q71. 년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라 
df.groupby(df['Yr_Mo_Dy'].dt.month).mean().head()

C:\Temp\ipykernel_111204\1631906713.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['Yr_Mo_Dy'].dt.month).mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,2.982079,0.283154

In [22]:
# Q72. 모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을 경우 뒤에 있는 값으로 대체하라 
df = df.fillna(method='ffill').fillna(method='bfill')
df.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

In [24]:
# Q73. 년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라 
df.groupby([df['Yr_Mo_Dy'].dt.year, df['Yr_Mo_Dy'].dt.month]).mean().head()

C:\Temp\ipykernel_111204\3230034946.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby([df['Yr_Mo_Dy'].dt.year, df['Yr_Mo_Dy'].dt.month]).mean().head()

                         RPT        VAL        ROS       KIL        SHA  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1         14.932581  12.084194  13.431613  7.736774  11.215806
         2         16.269286  14.975357  14.324643  9.116786  13.852143
         3         11.015806  11.296452  10.752903  7.137742  10.509355
         4         10.722667   9.427667   9.998000  5.830667   8.435000
         5          9.860968   8.735161  10.818065  5.892258   9.490323

                         BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1          8.588065  11.184839   9.270968   9.085806  10.107419
         2         10.937500  11.890714  11.846071  11.821429  12.714286
         3          8.866774   9.644194   9.829677  10.646129  11.251935
         4          6.495000   6.925333   7.094667   7.342333   7.237000
         5          6.574839   7.477097   8.177097   8.039355   8.499355

                         BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy Yr_Mo_Dy
1961     1         13.880968  14.703226  2.935484   0.290323
         2         18.583214  15.411786  3.000000   0.285714
         3         16.410968  15.637742  3.000000   0.258065
         4         11.147333  10.278333  3.166667   0.333333
         5         11.900323  12.011613  2.806452   0.258065

In [25]:
df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()

C:\Temp\ipykernel_111204\1898181838.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333,3.166667,0.333333
1961-05,9.860968,8.735161,10.818065,5.892258,9.490323,6.574839,7.477097,8.177097,8.039355,8.499355,11.900323,12.011613,2.806452,0.258065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194,2.903226,0.258065
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333,3.100000,0.300000
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000,2.935484,0.290323
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000,2.966667,0.266667
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613,3.193548,0.322581

In [26]:
# Q74. RPT 컬럼의 값을 일자별 기준으로 1차 차분하라 
df['RPT'].diff().head()

0     NaN
1   -0.33
2    3.79
3   -7.92
4    2.75
Name: RPT, dtype: float64

In [28]:
# Q75. RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한 값을 구하여라 
df[['RPT', 'VAL']].rolling(window=7).mean().head(10)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286  12.727143
7  13.541429  11.982857
8  13.237143  11.392857
9  12.504286  10.570000

In [52]:
import datetime

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

# Q76. 년-월-알:시 컬럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 
# 서울시의 제공데이터의 경우 0시가 24시로 표현된다 
# df['(년-월-일:시)'] = pd.to_datetime(df['(년-월-일:시)'])
def change_date(x):
    date = x.split(':')[0]
    hour = x.split(':')[1]

    if hour == '24': 
        hour = '00:00:00'

        FinalDate = pd.to_datetime(date+" "+hour)+datetime.timedelta(days=1)
    else: 
        hour = hour + ':00:00'

        FinalDate = pd.to_datetime(date+" "+hour)

    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)
df.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

In [53]:
# Q77. 일자별 영어요일 이름을 dayName 컬럼에 저장하라 
df['dayName'] = df['(년-월-일:시)'].dt.day_name()
df['dayName'].head()

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayName, dtype: object

In [54]:
# Q78. 일자별 각 PM10등급의 빈도수를 파악하라
ans1 = df.groupby(['dayName', 'PM10등급'], as_index = False).size()
ans1

      dayName PM10등급  size
0      Friday     나쁨    31
1      Friday   매우나쁨    17
2      Friday     보통   120
3      Friday     좋음    21
4      Monday     나쁨     1
5      Monday   매우나쁨    21
6      Monday     보통    83
7      Monday     좋음    63
8    Saturday     나쁨    31
9    Saturday   매우나쁨    27
10   Saturday     보통    71
11   Saturday     좋음    54
12     Sunday     나쁨     2
13     Sunday   매우나쁨     1
14     Sunday     보통    67
15     Sunday     좋음    98
16   Thursday     나쁨    41
17   Thursday     보통   144
18   Thursday     좋음     5
19    Tuesday     나쁨    13
20    Tuesday   매우나쁨    10
21    Tuesday     보통    71
22    Tuesday     좋음    74
23  Wednesday     나쁨    26
24  Wednesday     보통    95
25  Wednesday     좋음    46

In [55]:
ans2 = ans1.pivot(index='dayName', columns = 'PM10등급', values = 'size').fillna(0)
ans2

PM10등급       나쁨  매우나쁨     보통    좋음
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

In [56]:
# Q79. 시간이 연속적으로 존재하며 결측치가 없는지 확인하라 
check = len(df['(년-월-일:시)'].diff().unique())

if check == 2: 
    ans = True
else: 
    ans = False

ans

True

In [57]:
# Q80. 오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라 
df['(년-월-일:시)'].dt.hour
df.groupby(df['(년-월-일:시)'].dt.hour).mean().head()

C:\Temp\ipykernel_111204\3784347758.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['(년-월-일:시)'].dt.hour).mean().head()

                PM10      PM2.5        오존     이산화질소     일산화탄소     아황산가스
(년-월-일:시)
0          72.549020  24.313725  0.027294  0.032255  0.462745  0.002784
1          73.705882  25.038462  0.027596  0.029365  0.446154  0.002635
2          68.673077  24.096154  0.027692  0.027038  0.446154  0.002635
3          70.730769  26.211538  0.027538  0.024731  0.436538  0.002750
4          70.538462  25.750000  0.026635  0.023635  0.442308  0.002731

In [58]:
df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10, 22], [0]]

C:\Temp\ipykernel_111204\55362996.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10, 22], [0]]

                PM10
(년-월-일:시)
10         70.384615
22         69.941176

In [60]:
# Q81. 날짜 컬럼을 index로 만들어라 
df.set_index('(년-월-일:시)', inplace=True, drop=True)
df.head()

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
(년-월-일:시),,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday

In [62]:
# Q82. 데이터를 주단위로 뽑아서 최소, 최대, 평균, 표준편차를 구하여라 
df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

C:\Temp\ipykernel_111204\429876571.py:2: FutureWarning: ['PM10등급', 'PM2.5등급', '오존등급', '이산화질소등급', '일산화탄소등급', '아황산가스등급', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
(년-월-일:시)
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
(년-월-일:시)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
(년-월-일:시)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]