## 작업 1유형 연습문제

### 유튜브 인기동영상 데이터

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [11]:
# Q1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라(날짜기준, 중복 포함)
list(df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle'].unique())

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

In [13]:
# Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. 
# dislikes 수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라 
list(df.loc[df['likes'] < df['dislikes']]['channelTitle'].unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [18]:
# Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. 
# channelId의 경우 고유값이므로 이를 통해 채널명을 한 번이라도 바꾼 채널의 갯수를 구하여라 
ans = df[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts()
len(ans[ans>1])

71

In [29]:
# Q4. 일요일에 인기있었던 영상들 중 가장 많은 영상 종류(categoryId)는 무엇인가? 
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]

24

In [32]:
# Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개씩인지 하나의 데이터 프레임으로 표현하라 
# df.pivot_table(index='categoryId', columns='trending_date2'.dt.day_name(), values = 'categoryId', aggfunc='size')
ans = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
ans
ans.pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [38]:
# Q6. 댓글의 수(comment_count)로 영상 반응에 대한 판단을 할 수 있다. 
# viewcount 대비 댓글 수가 가장 높은 영상을 확인하라 (view_count 값이 0인 경우는 제외한다)
df[['comment_count', 'view_count']]

def cal_ratio(x):
    if x['view_count'] == 0: 
        return 0
    else: 
        return x['comment_count'] / ['view_count']  

df['ratio'] = df['comment_count'] / df['view_count'] 
df.sort_values(by='ratio', ascending=False).head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
740,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,YouTube Korea,24,0,2126,78,648,UCOH52Yqq4-rdLvpt2Unsqsw,2021-01-04,inf
526,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,YouTube Korea,24,0,2117,77,643,UCOH52Yqq4-rdLvpt2Unsqsw,2021-01-03,inf
957,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,YouTube Korea,24,0,2137,79,652,UCOH52Yqq4-rdLvpt2Unsqsw,2021-01-05,inf
1180,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,YouTube Korea,24,0,2143,82,657,UCOH52Yqq4-rdLvpt2Unsqsw,2021-01-06,inf
44,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,YouTube Korea,24,0,2052,63,627,UCOH52Yqq4-rdLvpt2Unsqsw,2021-01-01,inf

In [49]:
target = df.loc[df['view_count']!=0]    # ['ratio']
print(len(target))
print((target['comment_count'] / target['view_count']).dropna())

import copy
target2 = target.copy()
target2['ratio'] = (target['comment_count'] / target['view_count']).dropna()

target2.sort_values(by='ratio', ascending=False).iloc[0].title

60386
0        0.004539
1        0.007739
2        0.000513
3        0.006566
4        0.006349
           ...
60394    0.005792
60395    0.000710
60396    0.001701
60397    0.000460
60398    0.014212
Length: 60386, dtype: float64

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [58]:
# Q7. 댓글의 수로 영상 반응에 대한 판단을 할 수 있다. 
# view_count 대비 댓글 수가 가장 낮은 영상을 확인하라 
target = df.loc[df['view_count']!=0]
# print((target['comment_count']/target['view_count']).dropna().sort_values())
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio

46005    2.152456e-08
46210    3.874120e-08
51798    1.931927e-07
51579    1.976488e-07
51353    2.031132e-07
             ...
526               inf
1180              inf
957               inf
740               inf
297               inf
Length: 59615, dtype: float64

In [62]:
print(ratio[ratio!=0].index[0])
df.iloc[ratio[ratio!=0].index[0]].title

46005

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [64]:
# Q8. like 대비 dislike 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인 경우는 제외한다)
target = df.loc[(df['likes']!=0)&(df['dislikes']!=0)]
df.iloc[(target['dislikes'] / target['likes']).sort_values().index[0]].title

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [67]:
# Q9. 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가?  
df.loc[df['channelId'] == df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'짤툰'

In [72]:
# Q10. 20회(20일) 이상 인기 동영상 리스트에 포함된 동영상의 숫자는? 
df[['title','channelId']].value_counts().to_frame()>=20

(df[['title','channelId']].value_counts()>=20)          # 실패 
(df[['title','channelId']].value_counts()>=20).sum()    # 성공

title                                                           channelId
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
극과 극을 살고 있는 인도의 갑부와 빈곤층들!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2주더놀릴예정                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
천재 친구 황봉황 [총몇명 스토리2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
담배충 [병맛더빙/웃긴영상]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[월드컵최종예선] 오만 VS 베트남 4차전 H/LㅣAFC 아시아지역 월드컵 최종예선                  UCtybqqaTj6Nx74Azdz1KrsA    False
깐부끼리는 니꺼 내꺼가 없는거야                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

### 유튜브 공범컨텐츠 동영상 데이터

In [73]:
import pandas as pd

channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [78]:
# Q11. 각 데이터의 'ct'컬럼을 시간으로 인식할 수 있게 datatype을 변경하여 
# video 데이터의 videoname의 각 value마다 몇 개의 데이터씩 갖고 있는지 확인해라 
df['ct'] = pd.to_datetime(df['ct'])
# df.groupby('ct').size()
df['videoname'].value_counts()

KeyError: 'ct'