## ì‘ì—… 1ìœ í˜• ì—°ìŠµë¬¸ì œ

### ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [11]:
# Q1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼(ë‚ ì§œê¸°ì¤€, ì¤‘ë³µ í¬í•¨)
list(df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle'].unique())

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

In [82]:
flag = df['channelId'].isin(df['channelId'].value_counts().head(10).index)
list(df.loc[flag]['channelTitle'].unique())

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

In [13]:
# Q2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. 
# dislikes ìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼ 
list(df.loc[df['likes'] < df['dislikes']]['channelTitle'].unique())

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

In [83]:
flag = df['likes'] < df['dislikes']
list(df.loc[flag]['channelTitle'].unique())

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

In [18]:
# Q3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. 
# channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œ ë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼ 
ans = df[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts()
len(ans[ans>1])

71

In [90]:
df1 = df[['channelTitle', 'channelId']].drop_duplicates()#.to_frame()
df2 = df[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts().to_frame()

display(df1)
display(df2)

                  channelTitle                 channelId
0                          ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60023                      ë©¸ì¹˜í˜•  UCsiuN8Jco3LbbuTyGuqRgKg
60028          í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì   UCRnEWJKVc5FpC-9Z3CBt2ZQ
60035                    ê¸°ìš©ì´tv  UCkMN06eC97XL1qR1bExdwWg
60036       INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]  UCp9G3sWsE42Qo9jgnB1ta2Q
60068              í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„  UCRCK5FCJtomQT3b88jXI_DA

[1843 rows x 2 columns]

                          channelId
UCtQYhzJWFai1y30UIA3uwYQ          3
UC98TOxKQk4aLcx0EjIK0LkQ          3
UC4nEQI74rZkFKlUSwi0ur4A          2
UCn64fSqF2l4rkkjtQUpku2A          2
UCjO3ji06DxmTM1RrzLVwmkA          2
...                             ...
UCuZu8NrpBG4WPXRi-hPBl-A          1
UCDrAR1OWC2MD4s0JLetN0MA          1
UCx2MVBsdTJ_sv0LiUpSQU2Q          1
UCu2R3TCLSxYV8pRyBGNOh2g          1
UCRCK5FCJtomQT3b88jXI_DA          1

[1770 rows x 1 columns]

In [29]:
# Q4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€? 
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]

24

In [92]:
flag = df['trending_date2'].dt.day_name() == 'Sunday'
df.loc[flag]['categoryId'].value_counts().to_frame()

    categoryId
24        3096
22        1337
10         830
17         636
23         556
25         437
26         363
20         289
1          274
15         217
27         199
28         167
2           99
19          91
29           9

In [94]:
# Q5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼ 
# df.pivot_table(index='categoryId', columns='trending_date2'.dt.day_name(), values = 'categoryId', aggfunc='size')
ans = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
display(ans)
display(ans.pivot(index='categoryId', columns='trending_date2'))

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [95]:
# Q6. ëŒ“ê¸€ì˜ ìˆ˜(comment_count)ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. 
# viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
target = df.loc[df['view_count']!=0]   
print(len(target))
print((target['comment_count'] / target['view_count']).dropna())

import copy
target2 = target.copy()
target2['ratio'] = (target['comment_count'] / target['view_count']).dropna()

target2.sort_values(by='ratio', ascending=False).iloc[0].title

60386
0        0.004539
1        0.007739
2        0.000513
3        0.006566
4        0.006349
           ...
60394    0.005792
60395    0.000710
60396    0.001701
60397    0.000460
60398    0.014212
Length: 60386, dtype: float64

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

In [100]:
# Q7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. 
# view_count ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ 
# (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
target = df.loc[df['view_count']!=0]

target2 = target.copy()
target2['ratio'] = (target['comment_count'] / target['view_count']).dropna()

target2.sort_values(by='ratio', ascending=True).head()#.iloc[0]['title']

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
50071,After We Ride (ìˆ ë²„ë¦‡ (ìš´ì „ë§Œí•´ ê·¸í›„)),Brave Girls - Topic,10,327169,3817,198,0,UChm_d4qO8txdwS4YadlvpSw,2021-08-29,0.0
25225,[ë„ì¥TV 2íšŒ] ì–´ë¦°ì´ë‚ ê¸°ë…!! ì—°ìš°&í•˜ì˜ í‰í–‰ì´ë¡ ??,ë„ì¥TV,22,979152,33726,377,0,UCkkWd02T76Zi5UcKRX0x3Bg,2021-05-07,0.0
52155,Hate that...,KEY - Topic,10,377674,7972,233,0,UC0IJknfravAY2BvIvlc5gwQ,2021-09-08,0.0
54884,Lemonade,NCT 127 - Topic,10,451814,22987,106,0,UCjqYTQjO-JG-8vLlt6-4iyQ,2021-09-22,0.0
10772,ê¸°ì•ˆ84 ì¸í„°ë·° 2ë¶€ - ì¢€ë§Œ ë” ë†€ë‹¤ê°€ìš”,ì¹¨ì°©ë§¨,24,726826,12900,420,0,UCUj6rrhMTR9pipbAWBAMvUQ,2021-02-24,0.0

In [107]:
# (ratio ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
ratio = (target['comment_count'] / target['view_count']).dropna().sort_values()
# print(type(ratio))  # series
# print(ratio)        

# df = df[series!=0]
# target = df.loc[df['view_count']!=0]
row = ratio[ratio!=0].index[0]
print(row)

df.iloc[row]['title']

46005

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [108]:
# Q8. like ëŒ€ë¹„ dislike ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
target = df.loc[(df['likes']!=0)&(df['dislikes']!=0)]
row = (target['dislikes'] / target['likes']).sort_values().index[0]
df.iloc[row]['title']

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

In [110]:
# Q9. ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€?  
flag = df['channelId'] == df['channelId'].value_counts().index[0]
df.loc[flag]['channelTitle'].unique()[0]

'ì§¤íˆ°'

In [112]:
# Q10. 20íšŒ(20ì¼) ì´ìƒ ì¸ê¸° ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”? 
# df.isnull().sum() ê³¼ ë™ì¼í•œ ê³„ì‚°ë°©ì‹ 
# flag.sum() í•˜ë©´ True ê°’ì˜ ê°¯ìˆ˜ë§Œ ì¶œë ¥ 
(df[['title','channelId']].value_counts().to_frame()>=20).sum()

0    40
dtype: int64

### ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

In [73]:
import pandas as pd

channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [113]:
# Q11. ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ì—¬ 
# video ë°ì´í„°ì˜ videonameì˜ ê° valueë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”© ê°–ê³  ìˆëŠ”ì§€ í™•ì¸í•´ë¼ 
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

In [116]:
# Q12. ìˆ˜ì§‘ëœ ê° videì˜ ê°€ì¥ ìµœì‹ í™”ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼ 
# videoname ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬, ê·¸ ë‹¤ìŒ ctë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
# ê° videoname ë³„ë¡œ ìµœì‹  ë‚ ì§œë§Œ ë‚¨ê¸°ê³  ì¤‘ë³µ ì œê±° 
# viewcount, videoname, ct ì»¬ëŸ¼ë§Œ ë‚¨ê¸°ê¸° 
# ì¸ë±ìŠ¤ ì¬ì •ë ¬
video.sort_values(['videoname','ct'])\
    .drop_duplicates('videoname',keep='last')\
    [['viewcnt','videoname','ct']]\
    .reset_index(drop=True)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [126]:
# Q13. Channel ë°ì´í„° ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼ 
import datetime

filtered_channel = channel[channel['ct']>=datetime.datetime(2021, 10, 3)]
filtered_channel.sort_values(['channelname', 'ct'])\
    .drop_duplicates('channelname', keep='first')\
    [['channelname', 'subcnt']]\
    .reset_index(drop=True)

        channelname   subcnt
0     Balming Tiger    54300
1     ê³½í† ë¦¬ kwak tori   471000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
3               ê½ˆëšœë£¹  1330000
4            ë…¼ë¦¬ì™• ì „ê¸°   922000
5       ë¦´í„ Lilpearl    10100
6             ì•¼ì „ì‚½ì§±ì¬   257000
7   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
8               ì¡°ë‚˜ë‹¨   215000
9        ì¸„ì •ChuJeong   322000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

In [129]:
channel
pd.to_datetime('2023-01-01')

Timestamp('2023-01-01 00:00:00')

In [134]:
# Q14. ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜(subcnt)ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼ 
filtered_channel = channel[(channel['ct']>=pd.to_datetime('2021-10-03 03:00:00'))&(channel['ct']<=pd.to_datetime('2021-11-01 15:00:00'))]
first_channel = filtered_channel.sort_values(['channelname', 'ct'])\
    .drop_duplicates('channelname', keep='first')\
    [['channelname', 'subcnt']]\
    .reset_index(drop=True)
last_channel = filtered_channel.sort_values(['channelname', 'ct'])\
    .drop_duplicates('channelname', keep='last')\
    [['channelname', 'subcnt']]\
    .reset_index(drop=True)

answer = pd.DataFrame()
answer['channelname'] = first_channel['channelname']
answer['del'] = last_channel['subcnt'] - first_channel['subcnt']
answer

        channelname    del
0     Balming Tiger   2500
1     ê³½í† ë¦¬ kwak tori  -2000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
3               ê½ˆëšœë£¹  70000
4            ë…¼ë¦¬ì™• ì „ê¸° -11000
5       ë¦´í„ Lilpearl  11000
6             ì•¼ì „ì‚½ì§±ì¬  11000
7   ì™€ê¸€ì™€ê¸€ WagleWagle      0
8               ì¡°ë‚˜ë‹¨  12000
9        ì¸„ì •ChuJeong   1000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤  10300

In [151]:
# Q15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš” ìˆ˜, ëŒ“ê¸€ ìˆ˜ê°€ ìˆ˜ì§‘ëœ ê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. 
# ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„(í•´ë‹¹ ì‹œì  ì „, í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼ 

# ep_one = video[video['videoname']=='ê³µë²” EP1'].sort_values('ct').reset_index(drop=True)
ep_one = video[video['videoname'].str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_one 

ep_one[(ep_one['ct'].diff()<=datetime.timedelta(minutes=5)) | (ep_one['ct'].diff()>=datetime.timedelta(minutes=20))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [157]:
# Q16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ì„ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼ 
video['date'] = video['ct'].dt.date

video.sort_values(['videoname', 'date']).drop_duplicates('videoname', keep='first')[['date', 'videoname']]

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

In [161]:
# Q17. 'ê³µë²”' ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œë˜ëŠ” ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. 
# ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videonameìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ viewcntì„ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼ 
filtered_video = video[video['ct'].dt.hour>=21]
filtered_video.sort_values(['videoname', 'ct'])\
    .drop_duplicates('videoname', keep='first')[['videoname', 'viewcnt', 'ct']].reset_index(drop=True)

  videoname  viewcnt                  ct
0    ê³µë²” EP1   117340 2021-10-07 21:00:03
1    ê³µë²” EP2   148144 2021-10-09 21:00:03
2    ê³µë²” EP3   147183 2021-10-14 21:00:04
3    ê³µë²” EP4   217674 2021-10-16 21:00:04
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP6   213899 2021-10-23 21:00:06
6    ê³µë²” EP7   252032 2021-10-28 21:00:04
7    ê³µë²” EP8   264029 2021-10-30 21:00:08

In [167]:
# Q18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  
# videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼ 
filtered_video = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')
filtered_video['ratio'] = filtered_video['dislikecnt'] / filtered_video['likecnt']
filtered_video.sort_values(by='ratio', ascending=True)[['videoname', 'ratio']].reset_index(drop=True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

In [171]:
# Q19. 2021-11-01 00:00:00 ~ 15:00:00 ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤ 
filtered_video = video[(video['ct']>=pd.to_datetime('2021-11-01 00:00:00'))\
                      &(video['ct']<=pd.to_datetime('2021-11-01 15:00:00'))]
first_video = filtered_video.sort_values(['videoname', 'ct'])\
    .drop_duplicates('videoname', keep='first')[['videoname', 'viewcnt']].reset_index(drop=True)
last_video = filtered_video.sort_values(['videoname', 'ct'])\
    .drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt']].reset_index(drop=True)
ans = pd.DataFrame()
ans['videoname'] = first_video['videoname']
ans['viewcnt'] = last_video['viewcnt'] - first_video['viewcnt']
ans.set_index('videoname', drop=True, inplace=True)
ans

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

In [182]:
# Q20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. 
# ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videonameì„ êµ¬í•˜ì—¬ë¼ 
duplicated_indexes = set(video.index) - set(video.drop_duplicates().index)
video[video.index.isin(duplicated_indexes)][['videoname', 'ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37