### 전세계 행복도 지표 데이터

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [6]:
# Q41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 
# 각 년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라 

display(df['년도'].value_counts())

result = df[df['행복랭킹']==10]['점수'].mean()
print(result)

2019    156
2018    156
Name: 년도, dtype: int64

7.259

In [7]:
# Q42. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 
# 각 년도의 행복랭킹 50위 이내의 나라들의 각각의 행복 점수 평균을 데이터프레임으로 표시하라 

result = df[df['행복랭킹']<=50][['년도', '점수']].groupby('년도').mean()
print(result)

           점수
년도
2018  6.64678
2019  6.67002

In [11]:
# Q43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라 
df[df['년도']==2018][['점수', '부패에 대한인식']].corr().iloc[0, 1]

0.40529152271510027

In [12]:
# Q44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라 
df[['행복랭킹', '나라명']].value_counts()

행복랭킹  나라명
1     Finland        2
8     New Zealand    2
123   Mozambique     2
34    Singapore      2
53    Latvia         2
                    ..
54    Japan          1
52    Thailand       1
      Romania        1
51    Slovenia       1
156   South Sudan    1
Length: 297, dtype: int64

In [13]:
len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())

15

In [14]:
# Q45. 2019년도 데이터들만 추출하여 각 변수 간 상관계수를 구하고 
# 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라 
# 컬럼명은 v1, v2, corr으로 표시하라 

df[df['년도']==2019].corr() # .sort_values()

C:\Temp\ipykernel_22128\315260872.py:5: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['년도']==2019].corr()

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
행복랭킹,1.000000,-0.989096,-0.801947,-0.767465,-0.787411,-0.546606,-0.047993,-0.351959,NaN
점수,-0.989096,1.000000,0.793883,0.777058,0.779883,0.566742,0.075824,0.385613,NaN
상대GDP,-0.801947,0.793883,1.000000,0.754906,0.835462,0.379079,-0.079662,0.298920,NaN
사회적지원,-0.767465,0.777058,0.754906,1.000000,0.719009,0.447333,-0.048126,0.181899,NaN
행복기대치,-0.787411,0.779883,0.835462,0.719009,1.000000,0.390395,-0.029511,0.295283,NaN
선택의 자유도,-0.546606,0.566742,0.379079,0.447333,0.390395,1.000000,0.269742,0.438843,NaN
관대함,-0.047993,0.075824,-0.079662,-0.048126,-0.029511,0.269742,1.000000,0.326538,NaN
부패에 대한인식,-0.351959,0.385613,0.298920,0.181899,0.295283,0.438843,0.326538,1.000000,NaN
년도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN